@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: "Frankfurter";
  src: url("//db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.eot");
  src: url("//db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d3eba8ec8662173409b7229addecbf7a.svg#Frankfurter")
      format("svg");
}
@font-face {
  font-family: "VAG Rounded";
  src: url("//db.onlinewebfonts.com/t/dc8d88cde32af2f5c8ceeb8b535bd35e.eot");
  src: url("//db.onlinewebfonts.com/t/dc8d88cde32af2f5c8ceeb8b535bd35e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/dc8d88cde32af2f5c8ceeb8b535bd35e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/dc8d88cde32af2f5c8ceeb8b535bd35e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/dc8d88cde32af2f5c8ceeb8b535bd35e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/dc8d88cde32af2f5c8ceeb8b535bd35e.svg#VAG Rounded")
      format("svg");
}

/* @extend display-flex; */
display-flex,
.display-flex,
.display-flex-center {
  display: flex;
  display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Montserrat-300 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat/Montserrat-Light.ttf");
  /* IE9 Compat Modes */
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
  /* IE9 Compat Modes */
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Italic.ttf");
  /* IE9 Compat Modes */
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
  /* IE9 Compat Modes */
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
  /* IE9 Compat Modes */
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
  /* IE9 Compat Modes */
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/montserrat/Montserrat-BoldItalic.ttf");
  /* IE9 Compat Modes */
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/montserrat/montserrat-v12-latin-900.ttf"),
    url("../fonts/montserrat/montserrat-v12-latin-900.eot")
      format("embedded-opentype"),
    url("../fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"),
    url("../fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"),
    url("../fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype");
}
*{
  padding: 0;
  margin: 0;
}

.container{
  /* background-color: #E7218C;
   */
   background-image: url('../img/banner.jpeg');
   background-size: cover;
  padding-top: 20px;
  min-height: 99vh;
}


/* container history page ==> dibuat karena bertabrakan dengan bootstrap */
.container-historypage{
  /* background-color: #E7218C;
   */
  /* background-image: url('../img/banner.jpeg');
  background-size: contain; */
  background-color: #f2c9c7;
  padding-top: 20px;
  min-height: 99vh;
}

/* container history page ==> dibuat karena bertabrakan dengan bootstrap */


.header{
  display: flex;
  /* margin: 20px; */
  justify-content: center;
  align-items: center;
}

.btn-profile{
  margin-right: 20px;
  padding: 10px 25px;    /* color: ; */
  background-color:#db2082 ;
  color: #FFFF;
  outline: none;
  border: none;
  border-radius: 5px;
  /* margin-bottom: 14px; */
  font-family: "Frankfurter";

}

.navigation{
  position: absolute;
  top: 20px;
  right: 20px;
}

.home{

}


.navbar{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.navbar-menu{
  /* background-color: #4c9585; */
  /* opacity: 0.7; */
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.navbar-item{
  padding: 15px;
  opacity: 1;
  /* background-color: #4c9585; */
  color: #4c9585;;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  font-family: "VAG Rounded";
  /* text-decoration: none; */
}


.navbar-item:hover{
  /* color: #4c9585; */
  /* background-color: white; */
}


.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.banner-promo{
  margin: 40px;
  width: 100%;
  /* background-color: grey; */
  height: 650px;
  position: relative;
}

.banner-item{
  width: 100%;
  height: 100%;
  display: none;
}

.banner-item img{
  width: 100%;
  height: 100%;
  transition: 2s ease-in-out;
}

.banner-desc{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: "VAG Rounded";
  font-size: larger;
  color: black;
  font-weight: 600;
}

.btn-control-container{
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.greeting{
  width: 100%;
  background-color: white;
  opacity: 0.7;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  padding: 20px;
  margin-top: 40px;
}

.greeting h1{
  font-family: "VAG Rounded";

}

.sorot{
  color: #db2082;
}

.poin-menu{
  display: flex;
  flex-direction: row;
}
.poin-menu h4{
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.poin-menu li{
  margin: 10px;
  list-style: none;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: large;
  font-family: "VAG Rounded";
  text-align: center;
}

.poin-menu li:nth-child(1){
  background-color: #f8d7da;
}

.poin-menu li:nth-child(2){
  background-color: #d4edda;
}

.container-table-history{
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  box-sizing: border-box;
  /* background-color: white; */
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
}

.card-hitory{
  margin: 15px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 400px;
  font-family: "VAG Rounded";
  /* background-color: white; */
}

.history-tanggal{
  width: 100%;
  display: flex;
  border-radius: 5px;
  padding: 15px;
  justify-content: flex-end;
  font-family: "VAG Rounded";
  font-size: 20px;
  background-color: white;
}

.card-history-header{
  background-color: white;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

.card-history-body{
  padding: 15px;
  display: flex;
  min-height: 90px;
  flex-direction: column;
  border-radius: 5px;
}

.card-history-footer{
  background-color: white;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}




@media screen and (max-width: 768px) {
  .navigation{
    top: 150px;
  }
  .navbar-menu{
    /* background-color: #4c9585; */
    /* opacity: 0.7; */
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-item{
    padding: 15px;
    opacity: 1;
    /* background-color: #4c9585; */
    color: #4c9585;;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-family: "VAG Rounded";
    /* text-decoration: none; */
  }
}